* {
  box-sizing: border-box;
}

.final-result-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
}

.final-score {
  display: flex;
  flex-direction: column;
}