* {
  box-sizing: border-box;
}

.final-result-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
}

.final-result-container h3 {
  text-align: center;
  margin-top: 24px;
}

.final-score {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 140px;
  margin: 12px auto;
  border-radius: 50%;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  text-align: center;
}

.performance-feedback {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 24px;
}

.performance-feedback h2 {
  margin-bottom: 8px;
}

.score-breakdown {
  margin: 24px 30px;
  text-align: center;
}

.score-breakdown h3 {
  text-align: start;
  margin-bottom: 24px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.marks {
  display: flex;
}